:root {
    --norse-bold: "Norse Bold";
    --mersad: "Mersad";
    --green-color: #596D48;
    --mersad-bold: "Mersad Bold";
}

@font-face {
    font-family: "Norse Bold";
    src: url(./fonts/Norse-Bold.otf) format("opentype");
}

@font-face {
    font-family: "Mersad";
    src: url(./fonts/Mersad.ttf) format("opentype");
}

@font-face {
    font-family: "Mersad Bold";
    src: url(./fonts/Mersad-Bold.ttf) format("opentype");
}

body {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    min-height: 100%;
    min-width: none;
    margin: 0;
}

.odin-logo {
    margin: 60%;
    width: 50%;
}

.left-side {
    background-image: url("./images/unsplash.jpg");
    min-height: 100vh;
}

.main {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    min-height: 100%;
    min-width: 50%;
}

.logo {
    display: flex;
    flex-direction: column;
    font-family: var(--norse-bold);
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    color: white;
}

input {
    border-color: #E5E7EB;
    outline: none;
    border-style: double;
    border-radius: 5px;
    font-family: var(--mersad);
}

button {
    background-color: var(--green-color);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    color: white;
    border-style: none;
    outline: none;
}

input:focus {
    border-color: blue;
    box-shadow: 1px 1px 1px black;
}

label {
    font-family: var(--mersad);
}

.right-side {
    margin-top: 7rem;
    padding-left: 4rem;
    width: 100%;
    padding-right: 4rem;
}

fieldset {
    outline: none;
    border: none;
    padding-right: 2rem;
    padding-top: 1rem;
}

form {
    background-color: white;
    box-shadow: 1px 5px 5px 5px black;
    padding-bottom: 1rem;
    border-radius: 5px;
}

.action_buttons {
    padding-top: 2rem;
    font-family: var(--mersad);
}

a, a:visited {
    text-decoration: none;
    color: var(--green-color);
}

.blurb {
    font-family: var(--mersad-bold);
    font-size: 2rem;
}

.slogan {
    font-family: var(--mersad-bold);
    padding-bottom: 1rem;
    font-size: 1.5rem;
}
